<div style="width: 100%;  padding: 3px; height: 100%">
    <strong>Hello {{name}},</strong>
    <p>Your account has been created in Tech-Oak</p>

    <div style="margin-top: 10px; margin-bottom: 10px;">
        <span>Email: {{email}}</span> <br />
        <span>Password: {{password}}</span>
    </div>

    <p>You can login into your account <a href="http://localhost:3000/auth/login">Login Now</a></p>
</div>