<p>Hi {{name}},</p>
<p>Here is your credentials to login into Tech Oak. Please keep this credential secret.</p>

<table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <span>Email: {{email}}</span> <br />
                            <span>Password: {{password}}</span> <br /> <br />
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <a href="http://tech-oak.vercel.app/auth/login" target="_blank">Login to your account</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<p>If possible please change the password after your first login.</p>
<p>Best Regards</p>